* {
    padding: 0px;
    margin: 0px;
}

.top-cont {
    margin-top: 60px;
}

#book-appointment {
    text-align: center;
    color: green;
}

.select-box {
    padding-top: 20px;
}

label {
    display: block;
    font:
      1rem 'Fira Sans',
      sans-serif;
  }
  
  input,
  label {
    margin: 0.4rem 0;
  }
  
#form-slot {
    display: none;
} 
#form-slot-back {
    display: none;
}  

#form-thank {
    display: none;
}   
.select-detail-hospital{
    display: block;
}