{%extends 'adminbase.html'%}
{%block content%}
    <div class="container table-responsive mt-5" id="hospitals">
        <h4>Hospitals</h4>
      {%if hospitals|length%}
      <table class="table  table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Department Count</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Rating</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {%for hospital in hospitals%}
          <tr>
            <th scope="row"><a href="/{{hospital.id}}/hospital/details">{{hospital.id}}</a></th>
            <td>{{hospital.name}}</td>
            <td ><button class="btn btn-primary catBtn" value="{{hospital.id}}">{{hospital.nDept}}</button></td>
            <td>{{hospital.city}}</td>
            <td>{{hospital.state}}</td>
            <td>{{hospital.rating}}</td>
            <td><a href="/{{hospital.id}}/hospital/modify">Modify</a> <a href="/{{hospital.id}}/hospital/remove" style="color:red">Remove</a></td>
          </tr>
        {%endfor%}
        </tbody>
      </table>
      {%else%}
      <h5>Oops! No hospitals added yet.</h5>
      {%endif%}
      <a href="/hospital/create" style="color:green">+New hospital</a>
      </div>
      
      {%for hospital in hospitals%}
      <div class="container table-responsive mt-5" id="{{hospital.id}}" style="display: none;">
      <h3>{{hospital.name}}</h3>
        <div class="d-flex justify-content-between">
          <h4>Departments</h4>
        <span class="text-end"><button class="btn btn-primary back"><- Go Back</button></span>
        </div>
        
        {%if hospital.nDept%}
      <table class="table  table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Doctors Count</th>
            <th scope="col">Rating</th>
            <th scope="col">Hospital ID</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          
          {%for department in departments%}
            {%if department.hid==hospital.id%}
            <tr>
              <th scope="row"><a href="/{{department.id}}/department/details">{{department.id}}</a></th>
              <td>{{department.name}}</td>
              <td ><button class="btn btn-primary docBtn" value="{{department.id}}">{{department.nDoc}}</button></td>
              <td>{{department.rating}}</td>
              <td>{{department.hid}}</td>
              <td><a href="/{{department.id}}/department/modify">Modify</a> <a href="/{{department.id}}/department/remove" style="color:red">Remove</a></td>
            </tr>
            
            {%endif%}
            
      
        {%endfor%}
        </tbody>
      </table>
      {%else%}
      <h5>Oops! No departments added yet.</h5>
      {%endif%}
      <a href="/{{hospital.id}}/department/create">+Add a department</a>
      </div>
      {%endfor%}
      <br><br>



      {%for department in departments%}
      <div class="container table-responsive mt-5" id="{{department.id}}" style="display: none;">
        <h4>{{department.name}}</h4>
        <div class="d-flex justify-content-between">
          <h6>Doctors</h6>
        <span class="text-end"><button class="btn btn-primary deptback"><- Go Back</button></span>
        </div>
        {%if department.nDoc%}
      <table class="table  table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Qualification</th>
            <th scope="col">Experience</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {%for deptdoc,doc in deptdocs%}
        {%if deptdoc.deptid==department.id%}
          <tr>
            <th scope="row"><a href="/{{doc.id}}/doctor/details">{{doc.id}}</a></th>
            <td>{{doc.email}}</td>
            <td>{{doc.name}}</td>
            <td>{{doc.gender}}</td>
            <td>{{doc.qual}}</td>
            <td>{{doc.exp}}</td>
            <td><a href="/{{deptdoc.deptid}}/{{doc.id}}/doctor/modify">Modify</a> <a href="/{{doc.id}}/doctor/delete" style="color:red">Delete</a></td>
          </tr>
          {%endif%}
        {%endfor%}
        </tbody>
      </table>  
      {%else%}
      <h5>Oops! No doctors added yet.</h5>
      {%endif%}
      <a href="/{{department.hid}}/{{department.id}}/doctor/create">+Add a doctor</a>
      </div>
      {%endfor%}
         
      <br><br> 
      <h4 class="container">Appointments</h4>
      {%for date in monthly_booking%}
      {%if monthly_booking[date]|length%}
      
      <div class="container table-responsive mt-5 mb-3">
        <h6>Date : {{date}}</h6>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Department ID</th>
            <th scope="col">Doctor ID</th>
            <th scope="col">Slot</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {%for appoint,deptdoc,slot in monthly_booking[date]%}
          <tr>
            <th scope="row"><a href="/{{deptdoc.deptid}}/department/details">{{deptdoc.deptid}}</a></th>
            <th scope="row"><a href="/{{deptdoc.docid}}/doctor/details">{{deptdoc.docid}}</a></th>
            <td>{{slot.from_}} to {{slot.to}}</td>
            {%if appoint.availability%}<td style="color: green; font-weight: bold;">Doctor Available</td>{%else%}<td style="color:red;font-weight: bold;">Appointment Cancelled<br>{{appoint.message}}{%endif%}</td>
            <td><a type="button" class="btn btn-info" href="/{{appoint.id}}/appointment/details">View Details</a></td>
          </tr>
        {%endfor%}
        </tbody>
      </table>
      </div>
      {%endif%}
      {%endfor%}
  
      
      <script src="/static/admin_dash.js"></script>
{%endblock%}