{%extends 'adminbase.html'%}
{%block content%}
<div class="d-flex justify-content-around">
   <div></div>
   <h2 class="text-center mt-3 mb-3">Department Details</h2>
   
<div>
   <a type="button" class="btn btn-primary" href="/admin/dashboard" ><- Go Back </a>
 </div>
</div>

      <div class="container">
         <h4>Department Name : {{Department.name}}</h4>
         <h4>ID : {{Department.id}}</h4>
         <h4>Doctor Count : {{Department.nDoc}}</h4>
         <h4>Rating : {{Department.rating}}</h4>
         <h4>Hospital ID: <a href="/{{Department.hid}}/hospital/details">{{Department.hid}}</a> </h4>
         </div>
 
{%endblock%}