{%extends 'adminbase.html'%}
{%block content%}
<div class="d-flex justify-content-around">
   <div></div>
   <h2 class="text-center mt-3 mb-3">Hospital Details</h2>
   
<div>
   <a type="button" class="btn btn-primary" href="/admin/dashboard" ><- Go Back </a>
 </div>
</div>
<div class="container">
   <h4>ID : {{Hospital.id}}</h4>
   <h4>Hospital Name : {{Hospital.name}}</h4>
   <h4>State : {{Hospital.state}}</h4>
   <h4>City : {{Hospital.city}}</h4>
   <h4>No. of departments : {{Hospital.nDept}}</h4>
   <h4>Rating : {{Hospital.rating}}</h4>
   
   </div>
{%endblock%}