<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
   <form action="/login" method="post">
    <label for="email">EMAIL</label>
    <input id="email" type="email" class="form-control" name="email" placeholder="Enter your Email" required>
    <label for="password">PASSWORD</label>
    <input id="password" type="password" class="form-control" name="password" placeholder="Enter your Password" required>
    <div class="text-center mt-5"><button type="submit" id="otpbtn" class="btn btn-success">Login</button></div>
</form>
</body>
</html>