{%extends 'base.html'%}
{%block content%}
  
    <div class="container-sm col-lg-4 col-md-8 col-sm-12 shadow p-3 mb-5 bg-body rounded px-4" style="margin-top: 120px; padding: 20px 20px 20px 20px; border-radius: 2%;">
      <div style="display: flex; justify-content: center;">
        <h2 style="margin-bottom: 50px; color: green;">Register Your Email</h2>
      </div>
        <form action="/register" method="post">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Enter your Email" required>
            {%for message in get_flashed_messages()%}
          <p style="color:red;font-size: small;">{{message}}</p>
          {%endfor%}
            <div class="text-center mt-4"><button type="submit" class="btn btn-success">Send OTP</button></div>
        </form>
        <div class = "pt-3">
        <p>Already Have An Account? <a href = "/login">Login</a></p>
        </div>
    </div>   
{%endblock%}
