     {%extends 'userbase.html'%}
     {%block content%}
     <div class="container-sm col-lg-6 col-md-10 col-sm-14 shadow-lg p-3  bg-white rounded" id="appointment" style="margin-top:120px ;padding: 20px 20px 20px 20px; border-radius: 2%;">
        <ul margin="2px">
          {%for patient,patientlist,appointment in patientsappointment%}
            <ul class="list-group patient-appointment" id="{{patient.id}}" style="display: none;">
              {%if patientlist|length%}
              {%for plist in patientlist%}
                <li class="list-group-item d-flex justify-content-between">Date: {{appointment[loop.index-1].date}}, Token No: {{plist.token}}, Status: {{plist.status}}  <a type="button" class="btn btn-info" href="/{{patient.id}}/{{appointment[loop.index-1].id}}/{{plist.id}}/patientview">View Details</a></li>
              {%endfor%}
              {%else%}
              <li class="list-group-item" >No appointment yet!!</li>
              {%endif%}
              </ul>
              {%endfor%}
        </ul>
        <button class="btn btn-primary" type="submit">
            +Appointment
        </button>
      </div>
      <div class="flex-wrapper">
        <div class="container">Thank you</div>
      </div>
      

      <div class="container col-6 shadow p-3 mb-5 bg-body rounded top-cont  pb-5" id="bookAppointment">
        <h2 id="book-appointment" class="pt-3">Book Appointment</h2>
        <button type="button" class="btn btn-dark btn-sm" id="form-slot-back"> > Back</button>
        <div class="select-detail-hospital pt-5">
            <form>
                <div class="d-flex flex-column justify-content-center">
                    <h5>Select State</h5>
                    <select id="state" class="form-select" aria-label="Default select example" name=state required>
                        <option value="" selected>Select State</option>
                        {%for state in states%} 
                        <option value="{{state}}">{{state}}</option>
                        {%endfor%}
                      </select>
                </div>
                <div class="d-flex flex-column justify-content-center select-box">
                    <h5>Select City</h5>
                    <select class="form-select" id="city" aria-label="Default select example" disabled>
                        <option value="" selected>Select City</option>
                        {%for i in cities%}
                            {%for j in cities[i]%}
                            <option class="cities" id="{{i}}" value="{{j}}" style="display: none;">{{j}}</option>
                            {%endfor%}
                        {%endfor%}
                      </select>
                </div>
                <div class="d-flex flex-column justify-content-center select-box">
                    <h5>Select Hospital</h5>
                    <select class="form-select" id="hospital" aria-label="Default select example" disabled>
                        <option value="" selected>Select Hospital</option>
                        {%for hospital in hospitals%}
                            <option class="{{hospital.city}}"  value="{{hospital.id}}" style="display: none;">{{hospital.name}}</option>
                            
                        {%endfor%}
                      </select>
                </div>
                <div class="d-flex flex-column justify-content-center select-box">
                    <h5>Select Department</h5>
                    <select class="form-select" id="dept" aria-label="Default select example" disabled>
                        <option value="" selected>Select Department</option>
                        {%for department in departments%}
                            <option class="{{department.hid}}" style="display: none;" value="{{department.id}}">{{department.name}}</option>
                        {%endfor%}
                      </select>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-success px-4 me-md-2 mt-4 select-slot-btn" id="nextBtn" disabled>Next></button>
                </div>    
            </form>
        </div>
        

        <div  id="form-slot">
            <form action="/{{user.id}}/book" method="post">
                <div class="d-flex flex-column justify-content-center select-box">
                    <h5>Select Doctor</h5>
                    <select class="form-select" id="doctor" name="deptdoc" aria-label="Default select example" disabled>
                        <option value="" selected>Select Doctor</option>
                        {%for deptdoc,doc,notavaildays in deptdocs%}
                            <option class="{{deptdoc.deptid}}" value="{{deptdoc.id}}" style="display: none; font-weight: bold;">Dr. {{doc.name}} {%if notavaildays|length%}(unavailable on {%for navail in notavaildays%} {{navail.strftime("%d/%b/%y")}} {%endfor%}){%endif%}</option>
                        {%endfor%}
                      </select>
                </div>
                <div class="mb-5">
                  <label for="meeting-time" class="pt-3"><h5>Select Date</h5></label>
                <input
                  type="date"
                  id="bookdate"
                  name="bookdate"
                  
                  min="{{date.date()}}"
                  max="{{vdate.date()}}" />
                </div>
                <div class="d-flex flex-column justify-content-center select-box">
                  <h5>Select Slot</h5>
                  <select class="form-select" id="slot" aria-label="Default select example" name="slot" disabled>
                      <option value="" selected>Select Slot</option>
                      {%for days in slots%}
                          {%for slot in slots[days]%}
                          <option class="{{days.ddid}} {{days.day}}" value="{{slot.id}}" style="display: none;" >{{slot.from_.strftime("%I:%M%p")}} - {{slot.to.strftime("%I:%M%p")}}</option>
                      
                          {%endfor%}
                          {%endfor%}
                    </select>
              </div>
              <p id="msg2" style="color:red;display: none;"></p>
                <p id="msg" style="color:red;display: none;">No slots available! Please choose another date</p>
                  {%for doc,deptdoc,days in docdays%}
                <p id='{{deptdoc.id}}' class="docDay text-center " style="display: none; font-weight: bold;font-stretch:expanded;color: green;">Dr. {{doc.name}} is available on {{days|join(" and ")}} </p>
                  {%endfor%}

                <input id="patient" name="patient" type="text" style="display: none;">  
                <div class="d-flex justify-content-end pt-5">
                    <button type="submit" class="btn btn-success px-4 me-md-2 select-book-btn mt-5" id="bookBtn" disabled>Book Appointment</button>
                </div>
            </form>
        </div>

        


    </div>

    <div class="container-sm col-lg-4 col-md-8 col-sm-12 shadow-lg p-3  bg-white rounded" id="profile" style="display:none;margin-top:120px ;padding: 20px 20px 20px 20px; border-radius: 2%;">
      <div class="text-center mb-3"><h3>Members</h3></div>
      <ul margin="2px">
          <div class="list-group">
            <div class="d-flex justify-content-between">
              <p>{{patients[0].name}} (primary)</p>
              <button id="{{patients[0].id}}" class="btn btn-primary member" disabled>selected</button>
            </div>
            {%for patient in patients[1:]%}
            <div class="d-flex justify-content-between mt-3">
              <p>{{patient.name}}</p>
              <button id="{{patient.id}}" class="btn btn-primary member">select</button>
            </div>
            
              {%endfor%}
            </div>
      </ul>
    
    </div>
    <script src="/static/selecthost.js"></script>
  <script src="/static/cities.js"></script>
  <script src="/static/user_dash.js"></script>
{%endblock%}
    
